[submodule "vim-instant-markdown"]
	path = vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown.git
[submodule "vim-gnupg"]
	path = vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "vim-snippets"]
	path = vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline
